<div class="wrapper">
   <section class="deal_sec">
      <div class="container">
         <div class="row">
            <div class="sb_tog_btns">
               <nav>
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                     <h3>Buyer Dashboard</h3>
                  </div>
               </nav>
            </div>
            <div class="sb_List_tables">
               <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade active show" id="nav-buyer" role="tabpanel" aria-labelledby="nav-buyer-tab">
                     <div class="container table-responsive buyer-table">
						<table class="table table-buyer_dashboard table-bordered table-hover">
							<thead class="thead-dark"><tr><th scope="col" style="width: 10%;">Topic Name</th><th scope="col" style="width: 20%;">Seller Name</th><th scope="col" style="width: 20%;">Request Message</th><th scope="col" style="width: 10%;">Status</th><th scope="col" style="width: 15%;">Sent Time</th></tr>
							</thead>
							<tbody></tbody>
						</table>
						<div id="loader" class="loader" style="display:none;"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</div>

<style>
.fade{
	opacity:1;
}
</style>

<script>
	
	
	
	$(document).ready(function() {
      console.log("bbbbb");
		var currentUser = Discourse.User.current();
	   
		var userid = currentUser.id;
		console.log('userid= ' + userid);
		var previousData = "";
		var offset = 0;
		var limit = 5;
		

		function loadMoreData(offset, limit) {

			$('.loader').show();
			
			$.ajax({
				url: 'https://leadforest.net/do_not_delete/new_deal_discourse/getData.php', 
				method: 'GET', 
				dataType: 'html', 
				data: { userid : userid, offset: offset, limit: limit  },
				cache: false,
				success: function(response) {
					 $('.loader').hide();

					$('.table-buyer_dashboard tbody').append(response);
					var tempDiv = $('<div>').html(response);
					var numberOfRows = tempDiv.find('tr').length;

					if ((numberOfRows) < limit) {
						$('#loadMoreBtn').hide(); 
					} else {
						$('#loadMoreBtn').show();
					}
					
				},
				error: function(xhr, status, error) {
				 
					console.error('Error fetching data:', error);
					 $('.loader').hide();
				}
			});
		}
		
		
		
		loadMoreData(offset, limit);
		
		$(".selected_data_das").text("Buyer");

		$('#loadMoreBtn').click(function() {
			offset += limit;
			loadMoreData(offset, limit);
			 $('.loader').hide();
		});
		
	});
</script>