<div class="wrapper_new">
   <div class="wrapper">
      <section class="reviews_sec">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h3 class="cr_hdng">Customers Reviews</h3>
                  <div class="rvw_numb">
                     <div class="rvw_inr d-flex justify-content-center align-items-center">
                        <div class="lft_sec">
                           <h4>4.0</h4>
                           <span>out of 5</span>
                        </div>
                        <div class="rgt_sec">
                           <div class="rgt_sec_revws">
                              <span class="star_lft"> <label>5</label><img src="https://lab.sandboxmembers.com/uploads/default/original/1X/1f771a8901a5c7986ed3a1155d1443a53581dfcc.png" alt="star_review"></span>
                              <div class="bar_pro"><span class="bar_pro_inr" id="bar_one"></span></div>
                              <span class="review_numb">(198)</span>
                           </div>
                           <div class="rgt_sec_revws">
                              <span class="star_lft"> <label>4</label><img src="https://lab.sandboxmembers.com/uploads/default/original/1X/1f771a8901a5c7986ed3a1155d1443a53581dfcc.png" alt="star_review"></span>
                              <div class="bar_pro"><span class="bar_pro_inr" id="bar_two"></span></div>
                              <span class="review_numb">(178)</span>
                           </div>
                           <div class="rgt_sec_revws">
                              <span class="star_lft"> <label>3</label><img src="https://lab.sandboxmembers.com/uploads/default/original/1X/1f771a8901a5c7986ed3a1155d1443a53581dfcc.png" alt="star_review"></span>
                              <div class="bar_pro"><span class="bar_pro_inr" id="bar_three"></span></div>
                              <span class="review_numb">(67)</span>
                           </div>
                           <div class="rgt_sec_revws">
                              <span class="star_lft"> <label>2</label><img src="https://lab.sandboxmembers.com/uploads/default/original/1X/1f771a8901a5c7986ed3a1155d1443a53581dfcc.png" alt="star_review"></span>
                              <div class="bar_pro"><span class="bar_pro_inr" id="bar_four"></span></div>
                              <span class="review_numb">(27)</span>
                           </div>
                           <div class="rgt_sec_revws">
                              <span class="star_lft"> <label>1</label><img src="https://lab.sandboxmembers.com/uploads/default/original/1X/1f771a8901a5c7986ed3a1155d1443a53581dfcc.png" alt="star_review"></span>
                              <div class="bar_pro"><span class="bar_pro_inr" id="bar_five"></span></div>
                              <span class="review_numb">(19)</span>
                           </div>
                        </div>
                     </div>
                  </div>
                  <form id="feedback-form" method="post">
                     <div class="lv_rtng">
                        <h4>Leave your rate</h4>
                        <div class="strs_grp">
                           <div class="rating"><input type="radio" id="star5" name="rating" value="5" ><label for="star5"></label><input type="radio" id="star4" name="rating" value="4" checked><label for="star4"></label><input type="radio" id="star3" name="rating" value="3"><label for="star3"></label><input type="radio" id="star2" name="rating" value="2" ><label for="star2"></label><input type="radio" id="star1" name="rating" value="1"><label for="star1"></label></div>
                        </div>
                        <label class="orr">or</label>
                        <div class="form_inr"><textarea name="comment" id="comment" style="overflow :auto" rows="6"></textarea><button class="btn btn-primary" type="Submit">Add now</button><a href="#"><button class="btn btn-primary skip">Skip for now</button></a>
						</div>
					</div>
				  </form>
                  
               </div>
            </div>
         </div>
      </section>
   </div>
</div>